<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand Jumbotron" href="/">Dee Smith</a>
    </div>
    <!-- http://www.oliviaturner.co.uk/ -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/cv">CV</a></li>
                    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Selected Works <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/sound">Sound</a></li>
            <li><a href="/video">Video</a></li>
            <li><a href="/performance">Performance</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="/drawing">Drawing</a></li>
            <li><a href="/writing">Writing</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/collaboration">Collaboration and Curation</a></li>
        <li><a href="http://deannasmithart.tumblr.com/" target="_blank">Blog</a></li>
        <li><a class="active" href="/about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
